<%- include('partials/header', {title: title}) %> <% if(locals.categories){ %>
<nav>
  <ul>
    <li>
      <a
        href="/"
        class="category-nav-link<%= !activeCategoryId ? ' active' : '' %>"
        >All</a
      >
    </li>
    <% locals.categories.forEach(category => { %>
    <li>
      <a
        href="/categories/<%= category.id %>"
        class="category-nav-link<%= activeCategoryId == category.id ? ' active' : '' %>"
        ><%= category.name %></a
      >
    </li>
    <% }) %>
    <li>
      <a href="/categories" class="category-nav-link">Manage Categories</a>
    </li>
  </ul>
</nav>
<% } %>

<main>
  <section class="unchecked-items">
    <h2 class="list-title">
      <%= category ? category.name : 'Shopping List' %>
    </h2>
    <% uncheckedItems.forEach(item => { %> <%- include('partials/item-card', {
    item }) %> <% }) %>
  </section>

  <section class="checked-items">
    <h2 class="list-title">Checked Items</h2>
    <% checkedItems.forEach(item => { %> <%- include('partials/item-card', {
    item, checked: true }) %> <% }) %>
  </section>

  <a href="/item/new" class="button-add"
    ><svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      width="64"
      height="64"
      color="#000000"
      fill="none"
    >
      <path
        d="M12 8V16M16 12H8"
        stroke="#000000"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      ></path>
    </svg>
  </a>
</main>
<%- include('partials/footer') %>
