<%- include('partials/header', {title: title}) %>
    <% if(locals.categories){ %>
      <nav>
        <ul>
          <li><a href="/">All</a></li>
          <% locals.categories.forEach(category => { %>
            <li><a href="/categories/<%= category.id %>"><%= category.name %></a></li>
          <% }) %>
        </ul>
      </nav>
    <% } %>
    <main>
      <% items.forEach(item=> { %>
      <div>
        <h2><%= item.name %></h2>
        <p>Quantity: <%= item.quantity %></p>
        <p>Added By: <%= item.added_by %></p>
        <a href="/item/<%= item.id %>">View</a>
      </div>
      <% }) %>
      <a href="/newItem">Add item</a>
    </main>
  </body>
</html>
