<%- include('partials/header', {title:title}) %>
<main>
  <h2 class="list-title">Update Item</h2>
    <%- include('partials/formErrors') %>
  <form class="add-form" 
    action="/item/<%= item.id %>/update" 
    method="POST"  
    onsubmit="return confirmAction(this);"
    >
    <label for="name">Item Name:</label>
    <input type="text" id="name" name="name" value="<%= item.name %>" required />

    <label for="quantity">Quantity:</label>
    <input type="number" id="quantity" name="quantity" value="<%= item.quantity %>" required />

    <label for="added_by">Added By:</label>
    <input type="text" id="added_by" name="added_by"  value="<%= item.added_by %>" required />

    <label for="category_id">Category:</label>
    <select name="category_id" id="category_id">
      <% locals.categories.forEach(category => { %>
      <option 
        value="<%= category.id %>"
        <%= category.id === item.category_id ? 'selected' : '' %>
      >
        <%= category.name %>
      </option>
      <% }) %>
    </select>
        
    <input type="hidden" name="admin_password" />
    <button class="button-primary" type="submit">Update Item</button>
  </form>
  <a href="/">Back</a>
</main>
<script>
  function confirmAction(form) {
    const password = prompt("Enter the admin password to confirm this action:");
    if (!password) return false;

    form.querySelector('[name="admin_password"]').value = password;
    return true;
  }
</script>
<%- include('partials/footer') %>