<%- include('partials/header', {title:title}) %>
<main>
  <h2 class="list-title">Update Category</h2>
  <%- include('partials/formErrors') %>
  <form
    class="add-form"
    action="/categories/<%= category.id %>/update"
    method="POST"
    onsubmit="return confirmAction(this);"
  >
    <label for="name">Category Name: </label>
    <input
      type="text"
      id="category_name"
      name="name"
      value="<%= category.name %>"
      required
    />
    <input type="hidden" name="admin_password" />
    <button class="button-primary" type="submit">Update category</button>
  </form>
  <a href="/categories">Back</a>
</main>
<script>
  function confirmAction(form) {
    const password = prompt("Enter the admin password to confirm this action:");
    if (!password) return false;

    form.querySelector('[name="admin_password"]').value = password;
    return true;
  }
</script>
<%- include('partials/footer') %>
